<!DOCTYPE php>
<html>
  <head>
    <title>
     E cloud company
    </title>
  </head>
  <body>

<?php
$servername = "192.168.netip.14";
$username = "enes";
$password = "Welkom01!";
$db = "klanten";

echo "Dit is de webserver met adres ";
echo $_SERVER['SERVER_ADDR'];

$conn = new mysqli($servername, $username, $password, $db);

if ($conn->connect_error) {
  die("Connection failed: " . $conn->connect_error);
}

$sql = "SELECT * FROM gegevens";
$result = $conn->query($sql);

echo "<table border='1'>
<tr>
<th>Klant_ID</th>
<th>Naam</th>
<th>Functie</th>
</tr>";

while($row = mysqli_fetch_array($result))
{
echo "<tr>";
echo "<td>" . $row['Klant_ID'] . "</td>";
echo "<td>" . $row['Naam'] . "</td>";
echo "<td>" . $row['Functie'] . "</td>";
echo "</tr>";
}
echo "</table>";

$conn->close();
?>
  </body>
</html>
